.container {
  height: 100vh;
  background-color: var(--greenish);
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  font-size: 14px;
}

#signup input {
  font-family: "Vesper Libre", serif;
}
#signup input:invalid {
  outline-color: rgba(170, 8, 8);
}
#signup input:valid {
  outline-color: var(--greenish);
}

#signup {
  background-color: var(--yellowish);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  padding: 4rem 6rem;
  box-shadow: 0px 81px 44px -34px rgba(0, 0, 0, 0.25);
}

#signup .external {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#signup h1 {
  font-size: 3rem;
  letter-spacing: 0.14rem;
}

#signup h2 {
  font-size: 1.575rem;
  font-weight: 700;
}

#signup h3 {
  font-size: 1rem;
  align-self: end;
  padding: 0.4rem;
}
#signup hr {
  width: 100%;
  color: var(--balckish);
  background-color: var(--balckish);
}
#signup form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
#signup form button:last-child {
  margin-top: 3rem;
}

#signup input {
  box-sizing: content-box;
  width: 26rem;
  height: 3.4;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--greenish);
  background-color: hsla(127, 24%, 15%, 0.1);
  border-image: url("../../asset/image/border.png") 40% stretch;
  padding: 0.5rem 1.5rem;
}

#signup input::placeholder {
  color: var(--balckish);
}

#signup button {
  font-size: 1.5rem;
  font-weight: 700;
  align-self: start;
}

#signup p {
  font-size: 1.2rem;
  font-weight: 700;
}

#signup p > a {
  text-decoration: none;
  color: var(--greenish);
}

/* custom checkbox */

/* Customize the label (the container) */
.checkContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
#signup .checkContainer P {
  font-size: 1rem;
}
#signup .checkContainer input {
  position: absolute;
  opacity: 0%;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}

/* Create a custom checkbox */
#signup .checkmark {
  height: 1rem;
  width: 1rem;
  background-color: hsla(127, 24%, 15%, 0.1);
  border-style: solid;
  border-image: url("../../asset/image/borderCheckbox.svg") 30% stretch;
}
#signup .checkContainer input:hover ~ .checkmark {
  background-color: hsla(127, 24%, 15%, 0.4);
}
#signup .checkContainer input:checked ~ .checkmark {
  background-color: hsla(127, 24%, 15%, 0.4);
}
#signup .checkContainer input:invalid ~ .checkmark {
  background-color: hsla(0, 98%, 16%, 0.4);
}

/* Create the checkmark/indicator (hidden when not checked) */
#signup .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#signup .checkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#signup .checkContainer .checkmark:after {
  left: 0.35rem;
  top: 0.55rem;
  width: 0.2rem;
  height: 0.5rem;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
