#postPage .content {
  padding: 1.125rem 3.5rem;
  margin-top: 12rem;
}

#postPage .content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#postPage .content .header button {
  background-color: var(--blackish);
  font-size: 1.2rem;
}
#postPage .content .header a {
  font-size: 1.2rem;
}
#postPage .content nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}
#postPage .content nav img {
  margin-left: 2rem;
}
#postPage .content .action {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#postPage .content .article {
  display: grid;
  grid-template-areas:
    "title"
    "contentTuple";
}
#postPage .content .title {
  grid-area: title;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 8rem;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.3);
  margin: 0;
  padding: 0;
  background-color: var(--yellowish);
  letter-spacing: 0.28rem;
}
#postPage .content .default {
  resize: none;
  height: auto;
}
#postPage .content .tuples {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0rem;
  gap: 0.5rem;
}
#postPage .content .tuples .tuple {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#postPage .content .tuple .options {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
#postPage .content .article .line {
  background-color: hsla(0, 0%, 0%, 0.3);
  transform: rotate(90deg) translate(67rem, 20rem);
  position: absolute;
  width: 60rem;
  height: 1px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
}
#postPage .content .tuple .default {
  flex: 1;
  font-size: 1.5rem;
  padding: 0rem 1rem;
  border: none;
  background-color: var(--yellowish);
}
/* #postPage .content .tuple:focus-within .options {
  visibility: visible;
} */
