@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Vesper+Libre:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vesper Libre", serif;
  color: var(--blackish);
}

:root {
  --yellowish: #f0eadd;
  --greenish: #1c2e1e;
  --blackish: #000000;
}

body {
  background-color: var(--yellowish);
}

button {
  background-color: var(--greenish);
  padding: 0.5rem 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  border: none;
  color: white;
  z-index: 1;
}
button:hover {
  cursor: pointer;
}
