#postPage .content {
  padding: 1.125rem 3.5rem;
  margin-top: 12rem;
}

#postPage .content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#postPage .content .header button {
  background-color: var(--blackish);
  font-size: 1.2rem;
}
#postPage .content .header a {
  font-size: 1.2rem;
}
#postPage .content nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}
#postPage .content nav img {
  margin-left: 2rem;
}
#postPage .content .action {
  display: flex;
  gap: 2rem;
  align-items: center;
}
